<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Todo Lists</title>
  </head>
  <body>
    <main>
      <div>
        <h1>My Lists</h1>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Number of items</th>
            </tr>
          </thead>
          <tbody>
            {% for todo_list in todo_lists %}
            <tr>
              <td><a href="{% url 'show_detail' todo_list.id %}">{{ todo_list.name }}</a></td>
              <td><a href="{% url 'show_detail' todo_list.id %}">{{ todo_list.id }}</a></td>
              <a href="{% url 'todo_list_create' %}">p</a>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
